body {
  font-family: 'lato', sans-serif;
  display: grid;
  display: -ms-grid;
  margin: 0;
}

h1,
h2,
h3 {
  letter-spacing: 0.5px;
}

h1,
h2 {
  color: #ffffff;
}

h1,
h4 {
  text-transform: uppercase;
}

h1 {
  font-weight: 900;
  font-size: 9vw;
  padding-top: 40px;
  letter-spacing: 1px;

  // @media all and (min-width: 520px) {
  //   font-size: 7vw;
  //   letter-spacing: .2vw;
  // }
  //
  // @media all and (min-width: 991px) {
  //   font-size: 9vw;
  //   letter-spacing: 2px;
  // }

  @media all and (min-width: 1200px) {
    font-size: 8vw;
  }
}

h2 {
  font-weight: 900;
  font-size: 24px;

  @media all and (min-width: 520px) {
    font-size: 28px;
  }
}

h3 {
  font-weight: 400;
  font-size: 14px;
  padding: 0 0 25px;

  @media all and (min-width: 520px) {
    font-size: 24px;
  }
}

h4 {
  font-weight: 300;
  font-size: 16px;

  @media all and (min-width: 520px) {
    font-size: 24px;
  }
}

h5 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;

  @media all and (min-width: 520px) {
    font-size: 14px;
  }
}

p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;

  @media all and (min-width: 768px) {
    font-size: 14px;
    line-height: 20px;
  }
}

a,
p,
span,
h3,
h4,
h5 {
  color: rgba(0,0,0,0.6);
}

a,
#menu,
video,
.page-cover,
.page-container,
.page-wrapper,
.counter-container {
  /* enforce hardware acceleration */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

input,
select,
textarea {
  font-family: 'lato', sans-serif!important;

  &:focus {
    outline: none;
  }
}

*:focus {
  outline: none;
}

//patch for hidding controls of video player on iPhone
*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

h1,
h2,
h3,
h4,
.text-block,
.bullet-list,
.video-container,
.session-block,
.speakers-container {
  z-index: 1;
  position: relative;
}

.page-container .highlight {
  font-size: 24px;
  font-weight: 400;

  @media all and (min-width: 520px) and (max-width: 767px) {
    font-size: 32px;
  }

  @media all and (min-width: 768px) and (max-width: 990px) {
    font-size: 24px;
  }

  @media all and (min-width: 991px) {
    font-size: 32px;
  }
}

/*css specific to containers*/

.page-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99;
}

.page-wrapper {
  position: relative;
}

.page-container,
.page-wrapper {
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  min-height: auto;
  animation: slidedown 2s, fadein 5s;
}

.inner-page-container {
  padding: 30px;
  margin: 50px 0 25px;

  @media all and (min-width: 520px) {
    padding: 50px;
    margin: 80px 0 25px;
  }

  @media all and (min-width: 768px) {
    padding: 50px;
    margin: 80px 100px 25px 50px;
  }

  @media all and (min-width: 991px) {
    margin: 80px 200px 25px 50px;
  }
}

.content-section {
  max-width: 100vw;

  @media all and (min-width: 991px) {
    max-width: 69vw;
  }

  @media all and (min-width: 1200px) {
    max-width: 1125px;
  }
}

.content-block {
  -ms-grid-row: 1;
  display: grid;

  @media all and (min-width: 768px) {
    -ms-grid-column: 1;
  }

  p {
    padding: 5px 0;
  }
}


.whole-content-block,
.split-content-block {
  margin-top: 35px;
  position: relative;
}

.split-content-block {
  display: grid;
  display: -ms-grid;
}

/*css specific to containers - grid system*/

.col-66-34,
.col-34-66,
.col-50-50,
.col-60-20-20,
.col-20-20-20-20-20,
.col-40-60 {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-rows: 50% 50%;
  -ms-grid-rows: 50% 50%;
}

.col-34-66 {
  @media all and (min-width: 768px) {
    grid-template-columns: 34% 66%;
    -ms-grid-columns: 34% 66%;
  }

  &.split-content-block {
    grid-template-columns: 100%;
    -ms-grid-columns: 100%;
    grid-template-rows: auto;
    -ms-grid-rows: auto;

    @media all and (min-width: 520px) {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 34% 66%;
      -ms-grid-columns: 34% 66%;
    }
  }
}


.col-66-34 {
  @media all and (min-width: 768px) {
    grid-template-columns: 66% 34%;
    -ms-grid-columns: 66% 34%;
  }

  &.split-content-block {
    grid-template-columns: 100%;
    -ms-grid-columns: 100%;
    grid-template-rows: auto;
    -ms-grid-rows: auto;

    @media all and (min-width: 520px) {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 66% 34%;
      -ms-grid-columns: 66% 34%;
    }
  }
}

.col-33-33-33 {
  &.split-content-block {
    grid-template-columns: 100%;
    -ms-grid-columns: 100%;
    grid-template-rows: 32% 32% 32%;
    -ms-grid-rows: 32% 32% 32%;
    grid-column-gap: 17.5px;

    @media all and (min-width: 768px) {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 32% 32% 32%;
      -ms-grid-columns: 32% 32% 32%;
    }
  }
}

.col-60-20-20 {
  &.split-content-block {
    grid-template-columns: 100% 50% 50%;
    -ms-grid-columns: 100% 50% 50%;
    grid-template-rows: 60% 20% 20%;
    -ms-grid-rows: 60% 20% 20%;

    @media all and (min-width: 520px) {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 60% 20% 20%;
      -ms-grid-columns: 60% 20% 20%;
    }
  }
}

.col-50-50 {
  @media all and (min-width: 768px) {
    grid-template-columns: 50% 50%;
    -ms-grid-columns: 50% 50%;
  }

  &.split-content-block {
    grid-template-columns: 100%;
    -ms-grid-columns: 100%;
    grid-template-rows: auto;
    -ms-grid-rows: auto;

    @media all and (min-width: 768px) {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 50% 50%;
      -ms-grid-columns: 50% 50%;
    }
  }
}

.text-block {
  .col-50-50 {
    &.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 50% 50%;
      -ms-grid-columns: 50% 50%;
    }
  }
}


.col-40-60 {
  @media all and (min-width: 768px) {
    grid-template-columns: 40% 60%;
    -ms-grid-columns: 40% 60%;
  }

  &.split-content-block {
    grid-template-columns: 100%;
    -ms-grid-columns: 100%;
    grid-template-rows: auto;
    -ms-grid-rows: auto;

    @media all and (min-width: 520px) and (max-width: 767px) {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 40% 60%;
      -ms-grid-columns: 40% 60%;
    }

    @media all and (min-width: 768px) and (max-width: 990px) {
      grid-template-columns: 100%;
      -ms-grid-columns: 100%;
      grid-template-rows: 40% 60%;
      -ms-grid-rows: 40% 60%;
    }

    @media all and (min-width: 991px) {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 40% 60%;
      -ms-grid-columns: 40% 60%;
    }
  }
}


/*css specific to base elements*/

.title-block {
  display: grid;
  display: -ms-grid;
  position: absolute;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  z-index: 9;

  @media all and (min-width: 520px) {
    margin-top: 46px;
  }

  h2 {
    margin: 0;
  }

  .title-background {
    justify-self: center;
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
    z-index: 1;
    margin: 13px auto;

    @media all and (min-width: 520px) {
      margin: 20px auto;
    }
  }
}

.large-text-value {
  display: none;
}

.image {
  margin-right: 0;
  height: auto;
  max-width: 100%;
  margin-left: 0;
  background-size: cover;
  position: relative;
}

.button {
  border-radius: 25px;
  padding: 10px 20px;
  display: block;
  background-color: #ffffff;
  transition: all .5s linear;
  text-decoration: none;
  text-align: center;
  max-width: 250px;
  font-size: 16px;

  @media all and (min-width: 520px) {
    font-size: 12px;
  }

  @media all and (min-width: 768px) {
    font-size: 16px;
  }

  &:hover {
    transition: all .5s linear;
  }

  span {
    text-transform: uppercase;
  }
}

.expander {
  width: 100%;
  height: 30px;
  display: block;
  font-weight: 900;
  border-bottom: 2px solid #2C585C;
  position: relative;
  letter-spacing: 0.5px;
  color: #2C585C;
  transition: all .5s linear;
  cursor: pointer;
  z-index: 9;
  margin-bottom: 80px;

  @media all and (min-width: 520px) {
    display: none;
  }

  &:hover {
    color: #2ab0c9;
    transition: all .5s linear;
    border-bottom: 2px solid #2ab0c9;
  }
}

.photo-bg {
  position: absolute;
  z-index: -1;
  background: #2ab0c9;
}

.modal-full {
  display: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
  transition: all 0.5s;
  min-height: 60%;
  overflow: scroll;
  max-height: 60vh;

  @media all and (min-width: 520px) {
    max-height: 100%;
  }

  h2, h5 {
    padding-bottom:20px;
  }

  h2, h3, h5, p {
    text-align: left;
  }

  h2 {
    color: rgba(0,0,0,0.6);
  }

  .highlight {
    padding: 0;
  }

  .left-column {
    padding-right: 4vw;
  }

  .image-block {
    min-height: 48vh;
    background-size: cover;

    &.keynote-block {
      min-width: 30vw;
    }
  }

  .text-block {
    &.speakers-block {
      h5 {
        font-weight: 900;
        font-size: 24px;

        @media all and (min-width: 520px) {
          font-size: 28px;
        }
      }
    }
  }

  .modal-full {
    display: block;
  }

  .col-50-50 {
    @media all and (min-width: 768px) {
      grid-template-columns: 50% 50%;
      -ms-grid-columns: 50% 50%;
    }

    &.split-content-block {
      @media all and (min-width: 768px) {
        grid-template-columns: auto auto;
        -ms-grid-columns: auto auto;
      }
    }
  }
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
}









/*css specific to nav*/
nav {
  position: fixed;
  right: 0;
  margin: 32px 30px 0 0;
  z-index: 9;
  text-transform: uppercase;

  #menuToggle {
    display: block;
    top: 50px;
    left: 50px;
    z-index: 99;
    -webkit-user-select: none;
    user-select: none;

    @media all and (min-width: 991px) {
      top: 0;
      left: 0;
    }

    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 999; /* and place it over the hamburger */
      -webkit-touch-callout: none;


      /* Transform all the slices of hamburger into a crossmark. */
      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #ffffff;
      }

      /* Ohyeah and the last one should go the other direction*/
      &:checked ~ span:nth-child(3) {
        transform: rotate(-45deg) translate(-7px, 3px);
      }

      /* But let's hide the middle one.*/
      &:checked ~ span:nth-child(4) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      /*And let's slide it in from the left*/
      &:checked ~ ul {
        transform: none;
      }
    }

    .hamburger-line {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #cdcdcd;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;

    }

    input,
    .hamburger-line {
      display: block;
      margin-left: 140px;

      @media all and (min-width: 991px) {
        opacity: 0;
      }
    }

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }


  /*Make this absolute positioned at the top left of the screen*/
  #menu {
    width: 175px;
    margin: -100px 0 0 -52px;
    padding: 50px;
    padding-top: 125px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    position: fixed;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    background: rgba(44,88,92,0.9);


    @media all and (min-width: 991px) {
      margin: 0;
      padding: 0 20px 10px 0;
      transform:none;
      height: auto;
      background: transparent;
    }

    .menu-item {
      list-style: none;
      padding: 5px 10px 12px 0;
      text-align: right;

      &:first-child {
        padding: 45px 0 15px;
      }

      &:nth-child(10) {
        padding-top: 10px;
      }

      a {
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration:none;
        transition: font-size 0.5s;
        white-space: nowrap;
        transition: all 0.5s;


        @media all and (min-width: 768px) and (max-width: 990px) {
          font-size: 12px;
        }

        &:hover {
          font-size: 18px;
          border-bottom: 5px solid #F8D683;
        }
      }

      .social-icon {
        transition: all 0.5s;

        &:hover {
          border-bottom: none;

           path {
            fill: #FFD46A;
            transition: all 0.5s;
          }
        }

        svg {
          max-width: 30px;
        }
      }
    }

    &.dark-menu {
      @media all and (min-width: 991px) {
        li a {
          color: rgba(0,0,0,0.6);
          transition: all 0.5s;
        }

        path {
          fill: rgba(0,0,0,0.6);
          transition: all 0.5s;
        }

        .social-icon {
          &:hover {
            path {
              fill: rgba(0,0,0,0.8);
              transition: all 0.5s;
            }
          }
        }
      }
    }

    #submit {
      background-color: #FFD46A;
      background-image: url('https://cipherhealth.com/wp-content/uploads/2018/06/ticket.svg');
      background-repeat: no-repeat;
      background-position: -33px center;
      background-size: 70% 70%;
      max-width: 130px;
      margin-bottom: 15px;

      &:hover {
        background-color: #F2C14B;
      }

      span {
        padding-left: 25px;
        font-size: 14px;
        color: #2C585C;
      }
    }
  }
}



/*css specific to the individual sections */

video,
.page-bg {
  position: absolute;
}

.page-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#95d1e2+1,d2dde0+8,ffffff+27,ffffff+50,ffffff+73,d2dde0+100 */
background: #95d1e2; /* Old browsers */
background: -moz-linear-gradient(top, #95d1e2 7%, #d2dde0 12%, #ffffff 27%, #ffffff 50%, #ffffff 73%, #d2dde0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #95d1e2 7%,#d2dde0 12%,#ffffff 27%,#ffffff 50%,#ffffff 73%,#d2dde0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #95d1e2 7%,#d2dde0 12%,#ffffff 27%,#ffffff 50%,#ffffff 73%,#d2dde0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d1e2', endColorstr='#d2dde0',GradientType=0 ); /* IE6-9 */
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 35vh;

  @media all and (min-width:520px) {
    margin-top: 50vh;
  }

  @media all and (min-width:768px) {
    margin-top: 80vh;
  }
}

.page-video-container video,
.page-video-container {
  height: 35vh;
  min-height: 250px;
  overflow: hidden;

  @media all and (min-width:520px) {
    min-height: 300px;
    height: 50vh;
  }

  @media all and (min-width:768px) {
    height: 80vh;
  }
}

.page-video-container {
  width: 100vw;
  background: #91d1dd;
  position: absolute;
}

.page-video-container video {
  left: -50vw;

  @media all and (min-width: 520px) {
    left: -350px;
  }

  @media all and (min-width: 768px) {
    left: -260px;
  }

  @media all and (min-width: 991px) {
    left: -10vw;
  }
}

.cipher-logo {
  margin: 31px 0 -31px 30px;
  display: block;

  @media all and (min-width: 991px) {
    margin: 59px 0 -59px 40px;
  }
}

.page-top {
  min-height: 60vh;

  h4 {
    font-size: 24px;

    @media all and (min-width: 520px) {
      font-size: 30px;
    }
  }

  span {
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;

    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }

  img {
    max-width: 100%;

    @media all and (min-width: 520px) {
      max-width: 80%;
    }

    @media all and (min-width: 991px) {
      max-width: 60%;
    }

    @media all and (min-width: 1200px) {
      max-width: 50%;
    }
  }

  .split-content-block {
    margin-top: 25px;

    @media all and (min-width: 520px) {
      margin-top: 70px;
    }

    @media all and (min-width: 768px) {
      margin-top: 35px;
    }

    .text-block {
      margin-bottom: 35px;

      @media all and (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }

  .counter-container {
    background-image: url('https://cipherhealth.com/wp-content/uploads/2018/06/counter-background.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 130px;
    height: 30%;
    width: auto;
    display: grid;
    grid-template-columns: auto 45px;
    align-items: end;

    @media all and (min-width: 768px) {
      min-height: 12vw;
      background-position: right top;
      grid-template-columns: auto 6.2vw;
    }

    @media all and (min-width: 1200px) {
      min-height: 165px;
      grid-template-columns: auto 70px;
    }

    .counter-number {
      font-size: 56px;
      margin-bottom: 44px;
      font-weight: 900;
      justify-self:end;

      @media all and (min-width: 768px) {
        margin-bottom: 4vw;
        font-size: 4vw;
      }

      @media all and (min-width: 1200px) {
        margin-bottom: 56px;
        font-size: 64px;
      }
    }

    .counter-days {
      font-size: 12px;
      margin-bottom: 54px;
      justify-self:start;

      @media all and (min-width: 768px) {
        margin-bottom: 4.4vw;
        font-size: 1.5vw;
      }

      @media all and (min-width: 1200px) {
        margin-bottom: 64px;
        font-size: 20px;
      }
    }
  }
}

.the-conference {
  h4, h5, span, p {
    color: rgba(0,0,0,0.6)
  }

  h1{
    color: rgba(255,255,255,0.6);
  }

  h4 {
    font-size: 14px;
    font-weight:900;
    letter-spacing: .5px;
    padding: 17.5px 17px 15.5px;
    background: rgba(255,255,255,0.6);
  }

  video {
    width: 100%;
    position: relative;
  }

  .whole-content-block,
  .split-content-block {
    margin-top: 17.5px;
  }

  .logo-block,
  .list-block,
  .text-block {
    background: rgba(255,255,255,0.3);
  }

  .logo-block .logos,
  .list-block ul li,
  .text-block {
    padding: 17.5px;
  }

  .list-block {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    min-height: 300px;

    @media all and (min-width: 520px) {
      min-height: inherit;
    }


    ul li {
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(6),
      &:nth-child(8),
      &:nth-child(10),
      &:nth-child(12) {
        background: rgba(255,255,255,0.3)
      }
    }

    li {
      list-style: none;
    }

    h5 {
      font-weight: 900;
    }

    span {
      font-size: 12px;
      font-weight: 700;
    }
  }

  .logo-block {
    @media all and (min-width: 520px) {
      margin-right: 17.5px;
    }

    .logos {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 50% 50%;
      grid-row-gap: 20px;

      .logo img {
        max-width: 80%;
      }
    }
  }

  .right-column {
    @media all and (min-width: 520px) {
      margin-left: 17.5px;
    }

    .text-block,
    .image-block {
      margin-bottom: 17.5px;
    }

    .text-block {
      overflow: scroll;

      @media all and (min-width: 520px) {
        max-height: 200px;
      }

      @media all and (min-width: 991px){
        max-height: 250px;
      }
    }
  }
}

.keynotes {
  .keynote-block {
    background-color: rgba(141, 191, 202, 0.7);
    margin: 17.5px 0;
    display: grid;
    text-decoration: none;
    transition: all .5s linear;

    @media all and (min-width: 520px) and (max-width: 768px){
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
    }

    &:hover {
      background-color: rgba(42, 176, 201, 0.7);
      transition: all .5s linear;

      .arrow-up {
        border-bottom: 10px solid rgba(42, 176, 201, 1);
        transition: all .5s linear;
      }

      .image-block {
        opacity: 0.6;
        transition: opacity .5s;
      }
    }

    .image-block {
      background-size: cover;
      background-position: top right;
      min-height: 250px;
      transition: opacity .5s;
    }

    .photo-bg {
      margin-top: 17.5px;
      min-height: 250px;
    }

    .arrow-up {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgba(141, 191, 202, 1);
      position: absolute;
      margin-left: 30px;
      margin-top: -10px;
      transition: all .5s linear;

      @media all and (min-width: 520px) and (max-width: 768px){
        display: none;
      }
    }

    .highlight {
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 9px;

      @media all and (min-width: 520px) and (max-width: 767px) {
        font-size: 14px;
      }

      @media all and (min-width: 768px) and (max-width: 990px) {
        font-size: 16px;
      }

      @media all and (min-width: 991px) {
        font-size: 18px;
      }
    }
  }

  p,
  h5,
  span {
    display: block;
    color: rgba(0,0,0,0.6);
  }

  h2 {
    padding: 30px 30px 9px;
  }

  p {
    padding: 30px;
  }

  h5,
  span {
    padding: 0 30px;
  }
}

.partner-award {
  h1 {
    color: #2C585C;
  }

  h2 {
    color: rgba(0,0,0,0.6);
    font-size: 36px;
    padding-top: 6px;
  }

  h3 {
    font-size: 30px;
    font-weight: 900;
  }

  h4 {
    color: #3fa6b0;
  }

  .button {
    margin: 4vw 0;
  }

  .text-block {
    padding-left: 0;

    @media all and (min-width: 520px) {
      padding-left: 4vw;
    }

    p {
      padding: 0px 0 25px;

      @media all and (min-width: 520px) {
        padding: 10px 0 35px;
      }
    }
  }
}



.speakers {
  margin-top: 8vw;
  overflow: hidden;
  transition: all 1s;

  @media all and (min-width: 520px) {
    margin-top: 4vw;
  }

  h1 {
    padding-top: 0;
    span {
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      padding-left: 9px;
    }
  }

  h5, p {
    transition: all .5s linear;
  }

  h5 {
    font-size: 16px;
    font-weight: 700;
    color: #2C585C;
    padding-top: 5px;

    @media all and (min-width: 520px) {
      font-size: 14px;
    }
  }

  p {
    font-weight: 400;
    line-height: 14px;

    @media all and (min-width: 520px) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .speakers-block {
    text-decoration: none;
    display: block;
    width: 40vw;
    height: 45vw;

    @media all and (min-width: 520px) {
      width: 25vw;
      height: 35vw;
    }

    @media all and (min-width: 768px) {
      width: 15vw;
      height: 20vw;
    }

    @media all and (min-width: 991px) {
      width: 12vw;
      height: 12vw;
    }

    &:hover {
      h5 {
        color: #2ab0c9;
        transition: all 0.5s;
      }

      p {
        color: #2ab0c9;
        transition: all 0.5s;
      }

      img {
        opacity: 0.6;
        transition: opacity .5s;
      }
    }


    &.title-block {
      position: relative;
      height: auto;

      @media all and (min-width: 991px) {
        height: 12vw;
        margin-top: -20px;
      }
    }

    img,
    .photo-bg {
      min-width: 80px;
      width: 30vw;

      @media all and (min-width: 520px) {
        width:25vw;
      }

      @media all and (min-width: 768px) {
        width: 14vw;
      }

      @media all and (min-width: 991px) {
        width: 8vw;
      }

      @media all and (min-width: 1200px) {
        width: 9vw;
      }
    }

    img {
      transition: opacity .5s;
    }

    .photo-bg {
      height: 29.3vw;

      @media all and (min-width: 520px) {
        height: 24.5vw;
      }

      @media all and (min-width: 768px) {
        height: 13.7vw;
      }

      @media all and (min-width: 991px) {
        height: 7.8vw;
      }

      @media all and (min-width: 1200px) {
        height: 8.8vw;
      }
    }
  }

  .speakers-container {
    display: grid;
    display: -ms-grid;
  }

  .speakers-info-block {
    &.quote {
      height: 65vw;

      @media all and (min-width: 520px) {
        height: 72vw;
      }

      @media all and (min-width: 768px) {
        height: 22vw;
      }

      @media all and (min-width: 991px) {
        height: 12vw;
      }

      h2 {
        color: #ffffff;
      }

      .quote-symbol, h5, p {
        color: #2C585C;
      }

      h5 {
        padding-top: 20px;
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }

      .whole-content-block {
        width: 66vw;
        height: 72vw;
        padding: 4vw;
        margin: 0;
        background-color: rgba(42, 176, 201, 0.7);

        @media all and (min-width: 520px) {
          width: 60vw;
          height: 78vw;
        }

        @media all and (min-width: 768px) {
          width: 37vw;
          height: 71.5vw;
          padding: 2vw;
        }

        @media all and (min-width: 991px) {
          width: 21.5vw;
          height: 44vw;
        }

        @media all and (min-width: 1200px) {
          width: 20vw;
          height: 38.5vw;
        }

        .quote-symbol {
          font-size: 172px;
          margin-top: 60px;
          line-height: 20px;
          font-family: 'palanquin', sans-serif;
        }

        .quote-text {
          h2 {
            font-size: 5.6vw;

            @media all and (min-width: 520px) {
              font-size: 6vw;
            }

            @media all and (min-width: 768px) {
              font-size: 4.8vw;
            }

            @media all and (min-width: 991px) {
              font-size: 2.8vw;
            }

            @media all and (min-width: 1200px) {
              font-size: 2.5vw;
            }
          }
        }
      }
    }
    &.numbers {
      display: none;

      @media all and (min-width: 520px) {
        height: 36vw;
        display: grid;
      }

      @media all and (min-width: 768px) {
        height: 28vw;
      }

      @media all and (min-width: 991px) {
        height: 12vw;
      }

      .quote-symbol, h2, span, p {
        color: #2C585C;
      }

      h2 {
        font-size: 24px;

        @media all and (min-width: 1200px) {
          font-size: 30px;
        }
      }

      h1 {
        font-size: 12vw;

        @media all and (min-width: 991px) {
          font-size: 8vw;
        }

      }

      p {
        font-size: 16px;
        line-height: 22px;

        @media all and (min-width: 991px) {
          font-size: 14px;
          line-height: 20px;
        }

        @media all and (min-width: 1200px) {
          font-size: 16px;
          line-height: 22px;
        }
      }

      .whole-content-block {
        margin: 0;
        width: 66vw;
        background-color: rgba(255, 212, 106, 0.7);
        padding: 2vw 4vw;

        @media all and (min-width: 520px) {
          width: 60vw;
          height: 52vw;
        }

        @media all and (min-width: 768px) {
          width: 64vw;
          padding: 2vw;
          height: 32vw;
        }

        @media all and (min-width: 991px) {
          width: 38vw;
          height: 24vw;
        }

        @media all and (min-width: 1200px) {
          width: 36vw;
          height: 22vw;
        }
      }

      .split-content-block.col-33-33-33 {
        margin: 15px 15px 15px 0;
        grid-template-rows: 100%;
        -ms-grid-rows: 100%;
        grid-template-columns: 32% 32% 32%;
        -ms-grid-columns: 32% 32% 32%;
        grid-column-gap: 17.5px;

        @media all and (min-width: 768px) {
          margin: 10px 10px 10px 0;
        }
      }
    }
  }

  .speakers-container {
    grid-column-gap:3vw;
    grid-row-gap: 16vw;
    grid-template-areas:
      "speaker0 ."
      "speaker3 speaker4"
      "speaker5 speaker6"
      "speaker7 speaker8"
      "speaker1 ."
      ". ."
      ". ."
      "speaker9 speaker10"
      "speaker11 speaker12"
      "speaker13 speaker14"
      "speaker15 speaker16"
      "speaker17 speaker18"
      "speaker19 speaker20"
      "speaker21 speaker22"
      "speaker23 speaker24"
      "speaker25 speaker26"
      "speaker27 speaker28"
      "speaker29 speaker30"
      "speaker31 speaker32"
      "speaker33 speaker34"
      "speaker35 speaker36"
      "speaker37 speaker38"
      "speaker39 speaker40"
      "speaker41 speaker42"
      "speaker43 speaker44"
      "speaker45 speaker46"
      "speaker47 speaker48"
      "speaker49 speaker50";


      @media all and (min-width: 520px) {
        grid-template-areas:
          "speaker0 ."
          "speaker3 speaker4"
          "speaker5 speaker6"
          "speaker7 speaker8"
          "speaker1 ."
          ". ."
          ". ."
          "speaker9 speaker10"
          "speaker11 speaker12"
          "speaker2 ."
          ". ."
          ". ."
          "speaker13 speaker14"
          "speaker15 speaker16"
          "speaker17 speaker18"
          "speaker19 speaker20"
          "speaker21 speaker22"
          "speaker23 speaker24"
          "speaker25 speaker26"
          "speaker27 speaker28"
          "speaker29 speaker30"
          "speaker31 speaker32"
          "speaker33 speaker34"
          "speaker35 speaker36"
          "speaker37 speaker38"
          "speaker39 speaker40"
          "speaker41 speaker42"
          "speaker43 speaker44"
          "speaker45 speaker46"
          "speaker47 speaker48"
          "speaker49 speaker50";
        }

    @media all and (min-width: 768px) {
      grid-row-gap: 10vw;
      grid-template-areas:
        "speaker0 . ."
        "speaker3 speaker4 speaker5"
        "speaker6 speaker1 ."
        "speaker7 . ."
        "speaker8 . ."
        "speaker9 speaker10 speaker11"
        "speaker2 . ."
        ". . ."
        "speaker12 speaker13 speaker14"
        "speaker15 speaker16 speaker17"
        "speaker18 speaker19 speaker20"
        "speaker21 speaker22 speaker23"
        "speaker24 speaker25 speaker26"
        "speaker27 speaker28 speaker29"
        "speaker30 speaker31 speaker32"
        "speaker33 speaker34 speaker35"
        "speaker36 speaker37 speaker38"
        "speaker39 speaker40 speaker41"
        "speaker42 speaker43 speaker44"
        "speaker45 speaker46 speaker47"
        "speaker48 speaker49 speaker50";
    }

    @media all and (min-width: 991px) {
      grid-row-gap: 8vw;
      grid-template-areas:
        "speaker0 . . speaker3"
        "speaker4 speaker5 speaker6 speaker7"
        "speaker8 speaker9 speaker1 . "
        "speaker10 speaker11 . ."
        "speaker12 speaker13 . ."
        "speaker14 speaker15 speaker16 speaker17"
        "speaker18 speaker19 speaker20 speaker21"
        "speaker2 . . speaker22"
        ". . . speaker23"
        "speaker24 speaker25 speaker26 speaker27"
        "speaker28 speaker29 speaker30 speaker31"
        "speaker32 speaker33 speaker34 speaker35"
        "speaker36 speaker37 speaker38 speaker39"
        "speaker40 speaker41 speaker42 speaker43"
        "speaker44 speaker45 speaker46 speaker47"
        "speaker48 speaker49 speaker50 speaker51";
    }

    @media all and (min-width: 1200px) {
      grid-row-gap: 5vw;
      grid-template-areas:
        "speaker0 . . speaker3 speaker4"
        "speaker5 speaker6 speaker7 speaker8 speaker9"
        "speaker10 speaker11 speaker12 speaker1 ."
        "speaker13 speaker14 speaker15 . ."
        "speaker16 speaker17 speaker18 . ."
        "speaker19 speaker20 speaker21 speaker22 speaker23"
        "speaker2 . . speaker24 speaker25"
        ". . . speaker26 speaker27"
        "speaker28 speaker29 speaker30 speaker31 speaker32"
        "speaker33 speaker34 speaker35 speaker36 speaker37"
        "speaker38 speaker39 speaker40 speaker41 speaker42"
        "speaker43 speaker44 speaker45 speaker46 speaker47"
        "speaker48 speaker49 speaker50 speaker51 speaker52";
    }
  }
}

.program {
  .section-bg {
    position: absolute;
    width: 120%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ab0c9+0,0db4b0+67,00b5ab+100 */
    background: rgba(13,180,176,0.3); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(13,180,176,0.3) 0%, rgba(13,180,176,0.1) 30%, rgba(0,181,171,0.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(13,180,176,0.3) 0%,rgba(13,180,176,0.1) 30%,rgba(0,181,171,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(13,180,176,0.3) 0%,rgba(13,180,176,0.1) 30%,rgba(0,181,171,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(13,180,176,0.3)', endColorstr='rgba(0,181,171,0.1)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 0;
    margin-left: -50px;

    @media all and (min-width: 520px) {
      padding: 0;
      margin-left: -50px;
    }

    @media all and (min-width: 768px) {
      padding: 0;
      margin-left: -100px;
    }

    @media all and (min-width: 991px) {
      margin-left: -100px;
    }
  }

  h3, p, .session-block, .day-one, .day-two {
    transition: all .5s linear;
  }

  h3 {
    font-weight: 300;
    margin-top: -3px;
    padding: 0;
    font-size: 16px;

    @media all and (min-width: 520px) {
        font-size: 24px;
    }
  }

  h1 {
    padding-bottom: 4vw;
  }

  .program-container {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 100% 100%;
    transition: all .5s linear;
  }

  .program-day {
    display: grid;
    display: -ms-grid;

    &.day-one,
    &.day-two {
      opacity: 0;

      &.expanded {
        opacity: 1;
        z-index: 9;
      }
    }

    &.day-two {
      opacity: 0;
      z-index: -1;
    }
  }

  .days-selector {
    position: relative;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 30px;
    margin-bottom: 6vw;
    background: #c7eceb;
    cursor: pointer;
    overflow: hidden;

    .day {
      float: left;
      padding: 10px 5px;
      height: 100%;
      width: 45%;
      text-align: center;
      transition: all .5s linear;
      color: rgba(0,0,0,0.7);
      overflow: hidden;

      &:hover {
        transition: all .5s linear;
        background: #d7f4f4;
      }

      &.selected-day {
        transition: all .5s linear;
        background: #ffffff;
      }
    }
  }

  .split-content-block {
    margin: 35px 4vw;

    @media all and (min-width: 520px) {
      margin: 35px;
    }
  }

  .session-block {
    text-decoration: none;
    border-top: 3px #ffffff solid;

    &:hover {
      border-top: 3px #2ab0c9 solid;
      transition: all .5s linear;

      h3, p, .session-block {
        transition: all .5s linear;
      }

      h3, p {
        color: #2ab0c9;
      }
    }
  }

  .title-block {
    position: relative;
    margin: 0;
    display: block;
    text-align: left;
  }

  .date-block {
    justify-self: end;

    p {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: .5px;

      @media all and (min-width: 520px) {
        font-size: 18px;
      }
    }
  }
}

.event-info {
  margin-top: 80px;

  .event-infos-container {
    padding: 0 4vw 0 0;

    .event-info-block {
      padding-bottom: 20px;

      &:nth-child(3) .text-block > div:nth-child(2) {
        margin-top: 10px;
      }

      span, a, p {
        display: block;
      }

      a, p {
        font-size: 12px;
        padding-top: 5px;

        @media all and (min-width: 520px) {
          font-size: 14px;
        }
      }

      a {
        word-break: break-all;
        color: #2C585C;
        transition: all 0.5s;

        &:hover {
          color: #2ab0c9;
          transition: all 0.5s;
        }
      }

      .button {
        background: #396C99;
        background: -moz-linear-gradient(left, #18B3A5, #396C99);
        background: -webkit-linear-gradient(left, #18B3A5, #396C99);
        background: linear-gradient(to right, #18B3A5, #396C99);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18B3A5', endColorstr='#396C99',GradientType=1 );
        padding-top: 10px;
        margin-top: 10px;
        width: 80px;

        span {
          color: #ffffff;
        }
      }

      span {
        text-transform: uppercase;
        font-size: 10px;

        @media all and (min-width: 520px) {
          font-size: 12px;
        }
      }

      .text-block {
        padding-right: 20px;
      }
    }
  }

  #map {
    height: 400px;
    width: 100%;

    @media all and (min-width: 768px) {
      height: 100%;
    }
   }
}




 /*css specific to the background hexagons*/

 .hex {
   position: absolute;
   z-index: 0;
   pointer-events: none;

   img {
     transform: scale(4.5);
     width: 60.5vw;
     height: 103.4vw;

     @media all and (min-width: 520px) {
       transform: scale(2.5);
     }

     @media all and (min-width: 768px) {
       transform: scale(1.5);
     }
   }
 }

 .hex.first {
   margin: 345vw auto 0 -100vw;
   opacity: 0.4;

   @media all and (min-width: 520px) {
     margin: 35vw auto;
   }
 }

 .hex.second {
   margin: 125vw 0 0 -70vw;
   opacity: 0.3;

   @media all and (min-width: 520px) {
     margin: 35vw 0 0 -12.5vw;
   }
 }

 .hex.third {
   margin: 10vw 0 0 -40vw;
   opacity: 0.2;

   @media all and (min-width: 520px) {
     margin: -40vw 0 0 -25vw;
   }
 }

 .hex.fourth {
   margin: 225px 0 0 -11.5vw;

   @media all and (min-width: 520px) {
     margin: 16vw 0 0 -11.5vw;
   }

   @media all and (min-width: 768px) {
     margin: -12vw 0 0 -11.5vw;
   }

   path {
     fill: #ffffff;
   }
 }


 /*css specific to the footer*/

span.footer-text {
  text-align: center;
  padding: 30px 0 25px;
  justify-self: center;
  font-size: 12px;
  width: 100%;
  bottom: 0;
  position: relative;
  display: inline-block;
  background: white;

  @media all and (min-width: 520px) {
    font-size: 14px;
  }
}


/*css specific to the fadein transition*/

@keyframes slidedown {
  from {
      margin-top: -50px;
  }
  to {
      margin-top: 0;
  }
}

@-moz-keyframes slidedown { /* Firefox */
  from {
      margin-top: -50px;
  }
  to {
      margin-top: 0;
  }
}

@-webkit-keyframes slidedown { /* Safari and Chrome */
  from {
      margin-top: -50px;
  }
  to {
      margin-top: 0;
  }
}

@-o-keyframes slidedown { /* Opera */
  from {
      margin-top: -50px;

  }
  to {
      margin-top: 0;
  }
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;

  }
  to {
      opacity: 1;
  }
}

/*css specific to Firefox*/

@-moz-document url-prefix() {
  .offset-image-container {
    display: block;

    &::after {
      display: none;
    }
  }
}


/*css specific to IE 10*/

html[data-useragent*='MSIE 10.0'],
html[data-useragent*='rv:11.0'] {
  body,
  .page-wrapper {
    margin: 0;
  }

  .col-40-60 {
    .full-width-image img {
      max-width: 65vw;

      @media all and (min-width: 768px) {
        max-width: 25vw;
      }
    }
  }

  .col-50-50 {
    .full-width-image img {
      max-width: 65vw;

      @media all and (min-width: 768px) {
        max-width: 35vw;
      }
    }
  }

  .col-60-40 {
    .full-width-image img {
      max-width: 65vw;

      @media all and (min-width: 768px) {
        max-width: 45vw;
      }
    }
  }

  .title-block {
    margin: 60px 0;

    @media all and (min-width: 520px) {
      margin: 46px 0;
    }

    h2 {
      animation: fadein 5s;
    }
  }
}


/*css specific to browsers that don't support grid css*/

.page-wrapper.noGrid {

  .image-paragraph-wrap-around,
  .inner-page-container,
  .split-content-block p,
  .split-content-block .offset-image-container,
  .whole-content-block,
  .content-section {
    float: left;
  }

  .content-block {
    margin-right: 0;
  }

  .form-section,
  .content-section {
    width: 100%;
  }

  .content-section {
    @media all and (min-width: 768px) {
      padding-right: 5%;
    }
  }

  .col-40-60 {
    .content-section {
      @media all and (min-width: 768px) {
        width: 40%;
      }
    }

    .form-section {
      @media all and (min-width: 768px) {
        width: 55%;
      }
    }
  }

  .col-50-50 {
    .content-section {
      @media all and (min-width: 768px) {
        width: 50%;
      }
    }

    .form-section {
      @media all and (min-width: 768px) {
        width: 45%;
      }
    }
  }

  .col-60-40 {
    .content-section {
      @media all and (min-width: 768px) {
        width: 60%;
      }
    }

    .form-section {
      @media all and (min-width: 768px) {
        width: 35%;
      }
    }
  }

  // .split-content-block .text-block {
  //   margin-left: 0;
  //   margin-bottom: 0;
  //   margin-top: 35px;
  //
  //   @media all and (min-width: 768px) {
  //     margin-left: 20px;
  //   }
  //
  //   @media all and (min-width: 768px) and (max-width: 1200px) {
  //     width: 58%;
  //   }
  //
  //   @media all and (min-width: 1201px) {
  //     width: 54%;
  //   }
  // }

  // .offset-image-container,
  // .split-content-block .text-block {
  //   width: 100%;
  // }

  // .offset-image-container {
  //   min-height: 300px;
  //   margin-left: 0;
  //   margin-right: 0;
  //
  //   @media all and (min-width: 768px) {
  //     width: 46%;
  //     margin-left: -102px;
  //     margin-right: 20px;
  //   }
  //
  //   &::before,
  //   &::after {
  //     display: none;
  //   }
  // }
}
