body {
  font-family: 'lato', sans-serif;
  display: grid;
  display: -ms-grid;
}

h1, h2 {
  letter-spacing: 0.5px;
}

h1 {
  margin: 0 0 40px;
  text-transform: uppercase;
  font-size: 24px;
}

h2 {
  font-weight: 400;
  font-size: 14px;
}

@media all and (min-width: 520px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

input,
select,
textarea {
  font-family: 'lato', sans-serif;
}

.page-container {
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  min-height: auto;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.inner-container {
  padding: 30px;
  border-width: 2px;
  border-style: solid;
  margin: 80px 30px 25px;
  display: grid;
  display: -ms-grid;
  grid-template-rows: 100% 100%;
  -ms-grid-rows: 100% 100%;
  min-height: 70vh;
}

@media all and (min-width: 520px) {
  .inner-container {
    padding: 50px;
    margin: 80px 50px 25px;
  }
}

@media all and (min-width: 768px) {
  .inner-container {
    grid-template-columns: 50% 50%;
    -ms-grid-columns: 50% 50%;
  }
}


/*css specific to content*/

.content-block {
  -ms-grid-row: 1;
}

@media all and (min-width: 768px) {
  .content-block {
    margin-right: 25px;
    -ms-grid-column: 1;
  }
}


/*css specific to the footer*/

span.footer-text {
  text-align: center;
  padding: 0 0 25px;
  justify-self: center;
  font-size: 12px;
  width: 100%;
  bottom: 0;
  display: inline-block;
}

@media all and (min-width: 520px) {
  span.footer-text {
    font-size: 14px;
  }
}


/*css specific to the fadein transition*/

@keyframes fadein {
  from {
      opacity:0;
      margin-top: -50px;
  }
  to {
      opacity:1;
      margin-top: 0;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
      margin-top: -50px;
  }
  to {
      opacity:1;
      margin-top: 0;
  }
}


/*css specific to IE 10*/

/* html[data-useragent*='MSIE 10.0'] .title-block,
html[data-useragent*='rv:11.0'] .title-block {
  display: block;
  margin: 46px 0;
} */


/*css specific to browsers that don't support grid css*/

.page-container.noGrid .inner-container {
  float: left;
}

.page-container.noGrid .content-block {
  margin-right: 0;
}
