body {
  font-family: 'lato', sans-serif;
  display: grid;
  display: -ms-grid;
  margin: 0; }

h1,
h2,
h3 {
  letter-spacing: 0.5px; }

h1,
h2 {
  color: #ffffff; }

h1,
h4 {
  text-transform: uppercase; }

h1 {
  font-weight: 900;
  font-size: 28px;
  padding-top: 40px;
  letter-spacing: 1px; }
  @media all and (min-width: 520px) {
    h1 {
      font-size: 7vw;
      letter-spacing: .2vw; } }
  @media all and (min-width: 991px) {
    h1 {
      font-size: 9vw;
      letter-spacing: 2px; } }
  @media all and (min-width: 1200px) {
    h1 {
      font-size: 8vw; } }

h2 {
  font-weight: 900;
  font-size: 24px; }
  @media all and (min-width: 520px) {
    h2 {
      font-size: 28px; } }

h3 {
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0 25px; }
  @media all and (min-width: 520px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-weight: 300;
  font-size: 18px; }
  @media all and (min-width: 520px) {
    h4 {
      font-size: 24px; } }

h5 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px; }
  @media all and (min-width: 520px) {
    h5 {
      font-size: 14px; } }

p {
  margin: 0;
  font-size: 12px;
  line-height: 18px; }
  @media all and (min-width: 768px) {
    p {
      font-size: 14px;
      line-height: 20px; } }

a {
  color: rgba(0, 0, 0, 0.7); }

input,
select,
textarea {
  font-family: "lato", sans-serif !important; }
  input:focus,
  select:focus,
  textarea:focus {
    outline: none; }

*:focus {
  outline: none; }

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none; }

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

h1,
h2,
h3,
h4,
.text-block,
.bullet-list,
.video-container,
.session-block,
.speakers-container {
  z-index: 1;
  position: relative; }

.page-container .highlight {
  font-size: 24px;
  font-weight: 400; }
  @media all and (min-width: 520px) and (max-width: 767px) {
    .page-container .highlight {
      font-size: 32px; } }
  @media all and (min-width: 768px) and (max-width: 990px) {
    .page-container .highlight {
      font-size: 24px; } }
  @media all and (min-width: 991px) {
    .page-container .highlight {
      font-size: 32px; } }

/*css specific to containers*/
.page-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99; }

.page-wrapper {
  position: relative; }

.page-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  min-height: auto;
  animation: slidedown 2s, fadein 5s; }

.inner-page-container {
  padding: 30px;
  margin: 80px 0 25px; }
  @media all and (min-width: 768px) {
    .inner-page-container {
      padding: 50px;
      margin: 80px 50px 25px; } }
  @media all and (min-width: 991px) {
    .inner-page-container {
      margin: 80px 150px 25px 50px; } }

.content-section {
  max-width: 100vw; }
  @media all and (min-width: 991px) {
    .content-section {
      max-width: 69vw; } }
  @media all and (min-width: 1200px) {
    .content-section {
      max-width: 1125px; } }

.content-block {
  -ms-grid-row: 1;
  display: grid; }
  @media all and (min-width: 768px) {
    .content-block {
      -ms-grid-column: 1; } }
  .content-block p {
    padding: 5px 0; }

.whole-content-block,
.split-content-block {
  margin-top: 35px;
  position: relative; }

.split-content-block {
  display: grid;
  display: -ms-grid; }

/*css specific to containers - grid system*/
.col-66-34,
.col-34-66,
.col-60-20-20,
.col-20-20-20-20-20,
.col-20-20-20-40,
.col-40-60 {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-rows: 50% 50%;
  -ms-grid-rows: 50% 50%; }

@media all and (min-width: 768px) {
  .col-34-66 {
    grid-template-columns: 34% 66%;
    -ms-grid-columns: 34% 66%; } }

.col-34-66.split-content-block {
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-rows: auto;
  -ms-grid-rows: auto; }
  @media all and (min-width: 520px) {
    .col-34-66.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 34% 66%;
      -ms-grid-columns: 34% 66%; } }

@media all and (min-width: 768px) {
  .col-66-34 {
    grid-template-columns: 66% 34%;
    -ms-grid-columns: 66% 34%; } }

.col-66-34.split-content-block {
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-rows: auto;
  -ms-grid-rows: auto; }
  @media all and (min-width: 520px) {
    .col-66-34.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 66% 34%;
      -ms-grid-columns: 66% 34%; } }

.col-33-33-33.split-content-block {
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-rows: 32% 32% 32%;
  -ms-grid-rows: 32% 32% 32%;
  grid-column-gap: 17.5px; }
  @media all and (min-width: 768px) {
    .col-33-33-33.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 32% 32% 32%;
      -ms-grid-columns: 32% 32% 32%; } }

.col-60-20-20.split-content-block {
  grid-template-columns: 100% 50% 50%;
  -ms-grid-columns: 100% 50% 50%;
  grid-template-rows: 60% 20% 20%;
  -ms-grid-rows: 60% 20% 20%; }
  @media all and (min-width: 520px) {
    .col-60-20-20.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 60% 20% 20%;
      -ms-grid-columns: 60% 20% 20%; } }

.col-16-16-16-16-16-16.split-content-block {
  grid-template-rows: 100%;
  -ms-grid-rows: 100%;
  grid-template-columns: 50% 50%;
  -ms-grid-columns: 50% 50%; }
  @media all and (min-width: 520px) {
    .col-16-16-16-16-16-16.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 33.2% 33.2% 33.2%;
      -ms-grid-columns: 33.2% 33.2% 33.2%; } }
  @media all and (min-width: 768px) {
    .col-16-16-16-16-16-16.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
      -ms-grid-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%; } }

@media all and (min-width: 768px) {
  .col-20-20-20-40 {
    grid-template-columns: 20% 20% 20% 40%;
    -ms-grid-columns: 20% 20% 20% 40%; } }

.col-20-20-20-40.split-content-block {
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-rows: 20% 20% 20% 40%;
  -ms-grid-rows: 20% 20% 20% 40%; }
  @media all and (min-width: 991px) {
    .col-20-20-20-40.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 20% 20% 20% 40%;
      -ms-grid-columns: 20% 20% 20% 40%; } }

@media all and (min-width: 768px) {
  .col-40-60 {
    grid-template-columns: 40% 60%;
    -ms-grid-columns: 40% 60%; } }

.col-40-60.split-content-block {
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-rows: auto;
  -ms-grid-rows: auto; }
  @media all and (min-width: 520px) and (max-width: 767px) {
    .col-40-60.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 40% 60%;
      -ms-grid-columns: 40% 60%; } }
  @media all and (min-width: 768px) and (max-width: 990px) {
    .col-40-60.split-content-block {
      grid-template-columns: 100%;
      -ms-grid-columns: 100%;
      grid-template-rows: 40% 60%;
      -ms-grid-rows: 40% 60%; } }
  @media all and (min-width: 991px) {
    .col-40-60.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 40% 60%;
      -ms-grid-columns: 40% 60%; } }

/*css specific to nav*/
nav {
  position: fixed;
  right: 0;
  margin: 50px 30px 0 0;
  z-index: 9;
  text-transform: uppercase;
  /*Make this absolute positioned at the top left of the screen*/ }
  nav #menuToggle {
    display: block;
    top: 50px;
    left: 50px;
    z-index: 99;
    -webkit-user-select: none;
    user-select: none; }
    @media all and (min-width: 991px) {
      nav #menuToggle {
        top: 0;
        left: 0; } }
    nav #menuToggle input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0;
      /* hide this */
      z-index: 999;
      /* and place it over the hamburger */
      -webkit-touch-callout: none;
      /* Transform all the slices of hamburger into a crossmark. */
      /* Ohyeah and the last one should go the other direction*/
      /* But let's hide the middle one.*/
      /*And let's slide it in from the left*/ }
      nav #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323; }
      nav #menuToggle input:checked ~ span:nth-child(3) {
        transform: rotate(-45deg) translate(-7px, 3px); }
      nav #menuToggle input:checked ~ span:nth-child(4) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      nav #menuToggle input:checked ~ ul {
        transform: none; }
    nav #menuToggle .hamburger-line {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #cdcdcd;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    nav #menuToggle input,
    nav #menuToggle .hamburger-line {
      display: block;
      margin-left: 140px; }
      @media all and (min-width: 991px) {
        nav #menuToggle input,
        nav #menuToggle .hamburger-line {
          opacity: 0; } }
    nav #menuToggle:first-child {
      transform-origin: 0% 0%; }
    nav #menuToggle:nth-last-child(2) {
      transform-origin: 0% 100%; }
  nav #menu {
    width: 175px;
    margin: -100px 0 0 -52px;
    padding: 50px;
    padding-top: 125px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    position: fixed;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    @media all and (min-width: 991px) {
      nav #menu {
        margin: 10px 0 0;
        padding: 25px 20px 10px 0;
        transform: none;
        height: auto; } }
    nav #menu .menu-item {
      list-style: none;
      padding: 15px 0;
      text-align: right; }
      nav #menu .menu-item:first-child {
        padding: 45px 0 15px; }
      nav #menu .menu-item a {
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 900;
        text-decoration: none; }
        @media all and (min-width: 768px) and (max-width: 990px) {
          nav #menu .menu-item a {
            font-size: 12px; } }
    nav #menu .menu-item {
      padding: 8px 10px 15px 0; }
      @media all and (min-width: 991px) {
        nav #menu .menu-item {
          height: 100%; } }
    nav #menu #submit {
      background-color: #FFD46A;
      background-image: url("https://cipherhealth.com/wp-content/uploads/2018/06/ticket.svg");
      background-repeat: no-repeat;
      background-position: -33px center;
      background-size: 70% 70%;
      max-width: 130px;
      margin-bottom: 25px; }
      nav #menu #submit:hover {
        background-color: #F2C14B; }
      nav #menu #submit span {
        padding-left: 25px;
        font-size: 14px;
        color: #2C585C; }

/*css specific to base elements*/
.title-block {
  display: grid;
  display: -ms-grid;
  position: absolute;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  z-index: 9; }
  @media all and (min-width: 520px) {
    .title-block {
      margin-top: 46px; } }
  .title-block h2 {
    margin: 0; }
  .title-block .title-background {
    justify-self: center;
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
    z-index: 1;
    margin: 13px auto; }
    @media all and (min-width: 520px) {
      .title-block .title-background {
        margin: 20px auto; } }

.large-text-value {
  display: none; }

.image {
  margin-right: 0;
  height: auto;
  max-width: 100%;
  margin-left: 0;
  background-size: cover;
  position: relative; }

.button {
  border-radius: 25px;
  padding: 10px 20px;
  display: block;
  background-color: #ffffff;
  transition: all .5s linear;
  text-decoration: none;
  text-align: center;
  max-width: 250px; }
  .button:hover {
    transition: all .5s linear; }
  .button span {
    text-transform: uppercase; }

/*css specific to the individual sections */
video,
.page-bg {
  position: absolute; }

.page-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#95d1e2+1,d2dde0+8,ffffff+27,ffffff+50,ffffff+73,d2dde0+100 */
  background: #95d1e2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #95d1e2 7%, #d2dde0 12%, #ffffff 27%, #ffffff 50%, #ffffff 73%, #d2dde0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #95d1e2 7%, #d2dde0 12%, #ffffff 27%, #ffffff 50%, #ffffff 73%, #d2dde0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #95d1e2 7%, #d2dde0 12%, #ffffff 27%, #ffffff 50%, #ffffff 73%, #d2dde0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d1e2', endColorstr='#d2dde0',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 70vh; }

.page-video-container video,
.page-video-container {
  height: 70vh;
  min-height: 300px;
  overflow: hidden; }

.page-video-container {
  width: 100vw;
  background: #91d1dd;
  position: absolute; }

.page-video-container video {
  left: -10vw; }

.page-top h4 {
  font-size: 24px; }
  @media all and (min-width: 520px) {
    .page-top h4 {
      font-size: 30px; } }

.page-top span {
  font-size: 18px;
  font-weight: 700;
  padding-top: 10px; }
  @media all and (min-width: 520px) {
    .page-top span {
      font-size: 24px; } }

.page-top img {
  max-width: 50%; }

.page-top .counter-container {
  background-image: url("https://cipherhealth.com/wp-content/uploads/2018/06/counter-background.svg");
  background-repeat: no-repeat;
  background-position: right top;
  min-height: 150px;
  min-height: 250px;
  height: 30%;
  width: auto; }

.the-conference h4, .the-conference h5, .the-conference span, .the-conference p {
  color: rgba(0, 0, 0, 0.7); }

.the-conference h1 {
  color: rgba(255, 255, 255, 0.6); }

.the-conference h4 {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .5px;
  padding: 17.5px 17px 15.5px;
  background: rgba(255, 255, 255, 0.6); }

.the-conference video {
  width: 100%;
  position: relative; }

.the-conference .whole-content-block,
.the-conference .split-content-block {
  margin-top: 17.5px; }

.the-conference .logo-block,
.the-conference .list-block,
.the-conference .text-block {
  background: rgba(255, 255, 255, 0.3); }

.the-conference .logo-block .logos,
.the-conference .list-block ul li,
.the-conference .text-block {
  padding: 17.5px; }

.the-conference .list-block {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }
  .the-conference .list-block ul li:nth-child(2), .the-conference .list-block ul li:nth-child(4), .the-conference .list-block ul li:nth-child(6), .the-conference .list-block ul li:nth-child(8), .the-conference .list-block ul li:nth-child(10), .the-conference .list-block ul li:nth-child(12) {
    background: rgba(255, 255, 255, 0.3); }
  .the-conference .list-block li {
    list-style: none; }
  .the-conference .list-block h5 {
    font-weight: 900; }
  .the-conference .list-block span {
    font-size: 12px;
    font-weight: 700; }

@media all and (min-width: 520px) {
  .the-conference .logo-block {
    margin-right: 17.5px; } }

.the-conference .logo-block .logos {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 20px; }
  .the-conference .logo-block .logos .logo img {
    max-width: 80%; }

@media all and (min-width: 520px) {
  .the-conference .right-column {
    margin-left: 17.5px; } }

.the-conference .right-column .text-block,
.the-conference .right-column .image-block {
  margin-bottom: 17.5px; }

.keynotes .keynote-block {
  background-color: #b3e5ef;
  margin: 17.5px 0;
  display: grid;
  text-decoration: none;
  transition: all .5s linear; }
  @media all and (min-width: 520px) and (max-width: 768px) {
    .keynotes .keynote-block {
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%; } }
  .keynotes .keynote-block:hover {
    background-color: #8dbfca;
    transition: all .5s linear; }
    .keynotes .keynote-block:hover .arrow-up {
      border-bottom: 10px solid #8dbfca;
      transition: all .5s linear; }
  .keynotes .keynote-block .image-block {
    background-size: cover;
    background-position: top right;
    min-height: 250px; }
  .keynotes .keynote-block .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #b3e5ef;
    position: absolute;
    margin-left: 30px;
    margin-top: -10px;
    transition: all .5s linear; }
    @media all and (min-width: 520px) and (max-width: 768px) {
      .keynotes .keynote-block .arrow-up {
        display: none; } }
  .keynotes .keynote-block .highlight {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 9px; }
    @media all and (min-width: 520px) and (max-width: 767px) {
      .keynotes .keynote-block .highlight {
        font-size: 14px; } }
    @media all and (min-width: 768px) and (max-width: 990px) {
      .keynotes .keynote-block .highlight {
        font-size: 16px; } }
    @media all and (min-width: 991px) {
      .keynotes .keynote-block .highlight {
        font-size: 18px; } }

.keynotes p,
.keynotes h5,
.keynotes span {
  display: block;
  color: rgba(0, 0, 0, 0.7); }

.keynotes h2 {
  padding: 30px 30px 9px; }

.keynotes p {
  padding: 30px; }

.keynotes h5,
.keynotes span {
  padding: 0 30px; }

.partner-award h1 {
  color: #2C585C; }

.partner-award h2 {
  color: rgba(0, 0, 0, 0.7); }

.partner-award h4 {
  color: #3fa6b0; }

.partner-award .text-block {
  padding-left: 0; }
  @media all and (min-width: 520px) {
    .partner-award .text-block {
      padding-left: 4vw; } }
  .partner-award .text-block p {
    padding: 10px 0 35px; }

.speakers h1 {
  padding-top: 0; }
  .speakers h1 span {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    padding-left: 9px; }

.speakers .title-block {
  position: relative; }

.speakers .speakers-block {
  text-decoration: none;
  display: block;
  width: 25vw;
  height: 45vw; }
  @media all and (min-width: 520px) {
    .speakers .speakers-block {
      width: 25vw;
      height: 35vw; } }
  @media all and (min-width: 768px) {
    .speakers .speakers-block {
      width: 15vw;
      height: 20vw; } }
  @media all and (min-width: 991px) {
    .speakers .speakers-block {
      width: 12vw;
      height: 12vw; } }
  .speakers .speakers-block img {
    min-width: 80px;
    max-width: 30vw; }
    @media all and (min-width: 520px) {
      .speakers .speakers-block img {
        max-width: 26vw; } }
    @media all and (min-width: 768px) {
      .speakers .speakers-block img {
        max-width: 14vw; } }
    @media all and (min-width: 991px) {
      .speakers .speakers-block img {
        max-width: 9vw; } }
    @media all and (min-width: 1200px) {
      .speakers .speakers-block img {
        max-width: 8vw; } }

.speakers .speakers-container,
.speakers .speakers-info-block {
  display: grid;
  display: -ms-grid; }

.speakers .speakers-info-block {
  grid-template-columns: 50% 50%; }
  .speakers .speakers-info-block.numbers {
    height: 65vw; }
    @media all and (min-width: 520px) {
      .speakers .speakers-info-block.numbers {
        height: 63vw; } }
    @media all and (min-width: 768px) {
      .speakers .speakers-info-block.numbers {
        height: 20vw; } }
    @media all and (min-width: 991px) {
      .speakers .speakers-info-block.numbers {
        height: 12vw; } }
    .speakers .speakers-info-block.numbers .split-content-block {
      width: 66vw;
      height: 63vw;
      padding: 4vw;
      background-color: rgba(42, 176, 201, 0.7); }
      @media all and (min-width: 520px) {
        .speakers .speakers-info-block.numbers .split-content-block {
          width: 63vw;
          height: 55vw; } }
      @media all and (min-width: 768px) {
        .speakers .speakers-info-block.numbers .split-content-block {
          width: 37vw;
          height: 45vw;
          padding: 2vw; } }
      @media all and (min-width: 991px) {
        .speakers .speakers-info-block.numbers .split-content-block {
          width: 23vw;
          height: 35vw; } }
      @media all and (min-width: 1200px) {
        .speakers .speakers-info-block.numbers .split-content-block {
          width: 20vw;
          height: 34vw; } }
  .speakers .speakers-info-block.quote {
    height: 65vw; }
    @media all and (min-width: 520px) {
      .speakers .speakers-info-block.quote {
        height: 63vw; } }
    @media all and (min-width: 768px) {
      .speakers .speakers-info-block.quote {
        height: 20vw; } }
    @media all and (min-width: 991px) {
      .speakers .speakers-info-block.quote {
        height: 12vw; } }
    .speakers .speakers-info-block.quote .split-content-block {
      width: 66vw;
      background-color: rgba(255, 212, 106, 0.7);
      padding: 4vw; }
      @media all and (min-width: 520px) {
        .speakers .speakers-info-block.quote .split-content-block {
          width: 61vw;
          height: 50vw; } }
      @media all and (min-width: 768px) {
        .speakers .speakers-info-block.quote .split-content-block {
          width: 64vw;
          height: 20vw;
          padding: 2vw; } }
      @media all and (min-width: 991px) {
        .speakers .speakers-info-block.quote .split-content-block {
          width: 41vw;
          height: 20vw; } }
      @media all and (min-width: 1200px) {
        .speakers .speakers-info-block.quote .split-content-block {
          width: 36vw;
          height: 19vw; } }
  .speakers .speakers-info-block .split-content-block {
    margin: 0; }

.speakers .speakers-container {
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  grid-template-areas: "speaker0 ." "speaker3 speaker4" "speaker5 speaker6" "speaker7 speaker8" "speaker1 ." ". ." ". ." "speaker9 speaker10" "speaker11 speaker12" "speaker2 ." ". ." ". ." "speaker13 speaker14" "speaker15 speaker16" "speaker17 speaker18" "speaker19 speaker20" "speaker21 speaker22" "speaker23 speaker24" "speaker25 speaker26" "speaker27 speaker28" "speaker29 speaker30" "speaker31 speaker32" "speaker33 speaker34" "speaker35 speaker36" "speaker37 speaker38" "speaker39 speaker40" "speaker41 speaker42" "speaker43 speaker44" "speaker45 speaker46" "speaker47 speaker48" "speaker49 speaker50"; }
  @media all and (min-width: 768px) {
    .speakers .speakers-container {
      grid-template-areas: "speaker0 . ." "speaker3 speaker4 speaker5" "speaker6 speaker1 ." "speaker7 . ." "speaker8 . ." "speaker9 speaker10 speaker11" "speaker2 . ." ". . ." "speaker12 speaker13 speaker14" "speaker15 speaker16 speaker17" "speaker18 speaker19 speaker20" "speaker21 speaker22 speaker23" "speaker24 speaker25 speaker26" "speaker27 speaker28 speaker29" "speaker30 speaker31 speaker32" "speaker33 speaker34 speaker35" "speaker36 speaker37 speaker38" "speaker39 speaker40 speaker41" "speaker42 speaker43 speaker44" "speaker45 speaker46 speaker47" "speaker48 speaker49 speaker50"; } }
  @media all and (min-width: 991px) {
    .speakers .speakers-container {
      grid-template-areas: "speaker0 . . speaker3" "speaker4 speaker5 speaker6 speaker7" "speaker8 speaker9 speaker1 . " "speaker10 speaker11 . ." "speaker12 speaker13 . ." "speaker14 speaker15 speaker16 speaker17" "speaker18 speaker19 speaker20 speaker21" "speaker2 . . speaker22" ". . . speaker23" "speaker24 speaker25 speaker26 speaker27" "speaker28 speaker29 speaker30 speaker31" "speaker32 speaker33 speaker34 speaker35" "speaker36 speaker37 speaker38 speaker39" "speaker40 speaker41 speaker42 speaker43" "speaker44 speaker45 speaker46 speaker47" "speaker48 speaker49 speaker50 speaker51"; } }
  @media all and (min-width: 1200px) {
    .speakers .speakers-container {
      grid-template-areas: "speaker0 . . speaker3 speaker4" "speaker5 speaker6 speaker7 speaker8 speaker9" "speaker10 speaker11 speaker12 speaker1 ." "speaker13 speaker14 speaker15 . ." "speaker16 speaker17 speaker18 . ." "speaker19 speaker20 speaker21 speaker22 speaker23" "speaker2 . . speaker24 speaker25" ". . . speaker26 speaker27" "speaker28 speaker29 speaker30 speaker31 speaker32" "speaker33 speaker34 speaker35 speaker36 speaker37" "speaker38 speaker39 speaker40 speaker41 speaker42" "speaker43 speaker44 speaker45 speaker46 speaker47" "speaker48 speaker49 speaker50 speaker51 speaker52"; } }

.program h3, .program p {
  padding: 0; }

.program .split-content-block {
  margin: 35px; }

.program .session-block {
  text-decoration: none;
  border-top: 3px #ffffff solid; }

.program .date-block {
  justify-self: end; }

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */ }

/*css specific to the background hexagons*/
.hex {
  position: absolute;
  width: 60.5vw;
  height: 103.4vw;
  border-radius: 4vw/ 1.5vw;
  background: #ffffff;
  z-index: 0; }

.hex:before, .hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: ''; }

.hex:before {
  transform: rotate(60deg); }

.hex:after {
  transform: rotate(-60deg); }

.hex.first {
  margin: 60vw auto;
  background: #95d1e2;
  opacity: 0.4; }

.hex.second {
  margin: 12vw 0 0 -28vw;
  background: #95d1e2;
  opacity: 0.7; }

/*css specific to the footer*/
span.footer-text {
  text-align: center;
  padding: 0 0 25px;
  justify-self: center;
  font-size: 12px;
  width: 100%;
  bottom: 0;
  display: inline-block; }
  @media all and (min-width: 520px) {
    span.footer-text {
      font-size: 14px; } }

/*css specific to the fadein transition*/
@keyframes slidedown {
  from {
    margin-top: -50px; }
  to {
    margin-top: 0; } }

@-moz-keyframes slidedown {
  /* Firefox */
  from {
    margin-top: -50px; }
  to {
    margin-top: 0; } }

@-webkit-keyframes slidedown {
  /* Safari and Chrome */
  from {
    margin-top: -50px; }
  to {
    margin-top: 0; } }

@-o-keyframes slidedown {
  /* Opera */
  from {
    margin-top: -50px; }
  to {
    margin-top: 0; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*css specific to Firefox*/
@-moz-document url-prefix() {
  .offset-image-container {
    display: block; }
    .offset-image-container::after {
      display: none; } }

/*css specific to IE 10*/
html[data-useragent*='MSIE 10.0'] body,
html[data-useragent*='MSIE 10.0'] .page-wrapper,
html[data-useragent*='rv:11.0'] body,
html[data-useragent*='rv:11.0'] .page-wrapper {
  margin: 0; }

html[data-useragent*='MSIE 10.0'] .col-40-60 .full-width-image img,
html[data-useragent*='rv:11.0'] .col-40-60 .full-width-image img {
  max-width: 65vw; }
  @media all and (min-width: 768px) {
    html[data-useragent*='MSIE 10.0'] .col-40-60 .full-width-image img,
    html[data-useragent*='rv:11.0'] .col-40-60 .full-width-image img {
      max-width: 25vw; } }

html[data-useragent*='MSIE 10.0'] .col-50-50 .full-width-image img,
html[data-useragent*='rv:11.0'] .col-50-50 .full-width-image img {
  max-width: 65vw; }
  @media all and (min-width: 768px) {
    html[data-useragent*='MSIE 10.0'] .col-50-50 .full-width-image img,
    html[data-useragent*='rv:11.0'] .col-50-50 .full-width-image img {
      max-width: 35vw; } }

html[data-useragent*='MSIE 10.0'] .col-60-40 .full-width-image img,
html[data-useragent*='rv:11.0'] .col-60-40 .full-width-image img {
  max-width: 65vw; }
  @media all and (min-width: 768px) {
    html[data-useragent*='MSIE 10.0'] .col-60-40 .full-width-image img,
    html[data-useragent*='rv:11.0'] .col-60-40 .full-width-image img {
      max-width: 45vw; } }

html[data-useragent*='MSIE 10.0'] .title-block,
html[data-useragent*='rv:11.0'] .title-block {
  margin: 60px 0; }
  @media all and (min-width: 520px) {
    html[data-useragent*='MSIE 10.0'] .title-block,
    html[data-useragent*='rv:11.0'] .title-block {
      margin: 46px 0; } }
  html[data-useragent*='MSIE 10.0'] .title-block h2,
  html[data-useragent*='rv:11.0'] .title-block h2 {
    animation: fadein 5s; }

/*css specific to browsers that don't support grid css*/
.page-wrapper.noGrid .image-paragraph-wrap-around,
.page-wrapper.noGrid .inner-page-container,
.page-wrapper.noGrid .split-content-block p,
.page-wrapper.noGrid .split-content-block .offset-image-container,
.page-wrapper.noGrid .whole-content-block,
.page-wrapper.noGrid .content-section {
  float: left; }

.page-wrapper.noGrid .content-block {
  margin-right: 0; }

.page-wrapper.noGrid .form-section,
.page-wrapper.noGrid .content-section {
  width: 100%; }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .content-section {
    padding-right: 5%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-40-60 .content-section {
    width: 40%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-40-60 .form-section {
    width: 55%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-50-50 .content-section {
    width: 50%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-50-50 .form-section {
    width: 45%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-60-40 .content-section {
    width: 60%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-60-40 .form-section {
    width: 35%; } }
