body {
  font-family: 'lato', sans-serif;
  display: grid;
  display: -ms-grid;
  margin: 0; }

h1,
h2,
h3 {
  letter-spacing: 0.5px; }

h1,
h2 {
  color: #ffffff; }

h1,
h4 {
  text-transform: uppercase; }

h1 {
  font-weight: 900;
  font-size: 5vw; }
  @media all and (min-width: 768px) {
    h1 {
      font-size: 7vw; } }

h3 {
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0 25px; }
  @media all and (min-width: 520px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-weight: 300;
  font-size: 18px; }
  @media all and (min-width: 520px) {
    h4 {
      font-size: 24px; } }

h5 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px; }
  @media all and (min-width: 520px) {
    h5 {
      font-size: 14px; } }

p {
  margin: 0;
  font-size: 14px;
  line-height: 22px; }
  @media all and (min-width: 520px) {
    p {
      font-size: 16px;
      line-height: 24px; } }

input,
select,
textarea {
  font-family: "lato", sans-serif !important; }
  input:focus,
  select:focus,
  textarea:focus {
    outline: none; }

*:focus {
  outline: none; }

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none; }

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

h1,
h2,
h3,
h4,
.offset-image-container,
.text-block,
.bullet-list,
.video-container {
  z-index: 1;
  position: relative; }

.page-container .highlight {
  font-size: 24px;
  font-weight: 400; }
  @media all and (min-width: 520px) and (max-width: 767px) {
    .page-container .highlight {
      font-size: 32px; } }
  @media all and (min-width: 768px) and (max-width: 990px) {
    .page-container .highlight {
      font-size: 24px; } }
  @media all and (min-width: 991px) {
    .page-container .highlight {
      font-size: 32px; } }

/*css specific to containers*/
.page-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99; }

.page-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  min-height: auto;
  animation: slidedown 2s, fadein 5s; }

.inner-page-container {
  padding: 30px;
  margin: 80px 30px 25px; }
  @media all and (min-width: 520px) {
    .inner-page-container {
      padding: 50px;
      margin: 80px 50px 25px; } }
  @media all and (min-width: 768px) {
    .inner-page-container {
      margin: 80px 150px 25px 50px; } }

.content-block {
  -ms-grid-row: 1;
  display: grid; }
  @media all and (min-width: 768px) {
    .content-block {
      margin-right: 25px;
      -ms-grid-column: 1; } }
  .content-block p {
    padding: 5px 0; }

.whole-content-block,
.split-content-block {
  margin-top: 35px;
  position: relative; }

.split-content-block {
  display: grid;
  display: -ms-grid; }

/*css specific to containers - grid system*/
.col-66-33,
.col-60-40,
.col-40-60 {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-rows: 50% 50%;
  -ms-grid-rows: 50% 50%; }

@media all and (min-width: 768px) {
  .col-66-33 {
    grid-template-columns: 66% 33%;
    -ms-grid-columns: 66% 33%; } }

.col-66-33.split-content-block {
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-rows: 66% 33%;
  -ms-grid-rows: 66% 33%; }
  @media all and (min-width: 520px) {
    .col-66-33.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 66% 33%;
      -ms-grid-columns: 66% 33%; } }

@media all and (min-width: 768px) {
  .col-60-40 {
    grid-template-columns: 60% 40%;
    -ms-grid-columns: 60% 40%; } }

.col-60-40.split-content-block {
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-rows: 60% 40%;
  -ms-grid-rows: 60% 40%; }
  @media all and (min-width: 991px) {
    .col-60-40.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 60% 40%;
      -ms-grid-columns: 60% 40%; } }

@media all and (min-width: 768px) {
  .col-40-60 {
    grid-template-columns: 40% 60%;
    -ms-grid-columns: 40% 60%; } }

.col-40-60.split-content-block {
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-rows: 40% 60%;
  -ms-grid-rows: 40% 60%; }
  @media all and (min-width: 520px) and (max-width: 767px) {
    .col-40-60.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 40% 60%;
      -ms-grid-columns: 40% 60%; } }
  @media all and (min-width: 768px) and (max-width: 990px) {
    .col-40-60.split-content-block {
      grid-template-columns: 100%;
      -ms-grid-columns: 100%;
      grid-template-rows: 40% 60%;
      -ms-grid-rows: 40% 60%; } }
  @media all and (min-width: 991px) {
    .col-40-60.split-content-block {
      grid-template-rows: 100%;
      -ms-grid-rows: 100%;
      grid-template-columns: 40% 60%;
      -ms-grid-columns: 40% 60%; } }

/*css specific to base elements*/
/*css specific to header*/
header {
  position: fixed;
  right: 0;
  margin: 50px 30px 0 0;
  z-index: 9;
  text-transform: uppercase; }
  header li {
    list-style: none;
    padding: 15px 0; }
    header li:first-child {
      padding: 45px 0 15px; }
  header a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff; }
  header #submit {
    background-color: #FFD46A;
    background-image: url("https://cipherhealth.com/wp-content/uploads/2018/06/ticket.svg");
    background-repeat: no-repeat;
    background-position: -33px center;
    background-size: 70% 70%;
    border-radius: 25px;
    padding: 10px 20px; }
    header #submit span {
      padding-left: 25px;
      color: #2C585C; }

.title-block {
  display: grid;
  display: -ms-grid;
  position: absolute;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  z-index: 9; }
  @media all and (min-width: 520px) {
    .title-block {
      margin-top: 46px; } }
  .title-block h2 {
    margin: 0; }
  .title-block .title-background {
    justify-self: center;
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
    z-index: 1;
    margin: 13px auto; }
    @media all and (min-width: 520px) {
      .title-block .title-background {
        margin: 20px auto; } }

.large-text-value {
  display: none; }

.image {
  margin-right: 0;
  height: auto;
  max-width: 100%;
  margin-left: 0;
  background-size: cover;
  position: relative; }

/*css specific to the individual sections */
video,
.page-bg {
  position: absolute; }

.page-bg {
  background: #91d1dd;
  height: 325vh;
  width: 100vw;
  margin-top: 70vh; }

.page-video-container video,
.page-video-container {
  height: 70vh;
  min-height: 300px;
  overflow: hidden; }

.page-video-container {
  width: 100vw;
  background: #91d1dd;
  position: absolute; }

.page-video-container video {
  left: -10vw; }

.page-top img {
  max-width: 50%; }

.page-top .counter-container {
  background-image: url("https://cipherhealth.com/wp-content/uploads/2018/06/counter-background.svg");
  background-repeat: no-repeat;
  background-position: right top;
  min-height: 150px;
  min-height: 250px;
  height: 30%;
  width: auto; }

.the-conference h3, .the-conference h5, .the-conference span, .the-conference p {
  color: rgba(0, 0, 0, 0.7); }

.the-conference video {
  width: 100%;
  position: relative; }

.the-conference .whole-content-block,
.the-conference .split-content-block {
  margin-top: 17.5px; }

.the-conference .logo-block,
.the-conference .list-block,
.the-conference .text-block {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 17.5px 30px; }

@media all and (min-width: 991px) {
  .the-conference .left-column {
    margin-right: 17.5px; } }

@media all and (min-width: 768px) {
  .the-conference .logo-block {
    margin-right: 17.5px; } }

.the-conference .logo-block .logos {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 20px; }
  .the-conference .logo-block .logos .logo img {
    max-width: 80%; }

.the-conference .right-column .text-block,
.the-conference .right-column .image-block {
  margin-bottom: 17.5px; }

/*css specific to the footer*/
span.footer-text {
  text-align: center;
  padding: 0 0 25px;
  justify-self: center;
  font-size: 12px;
  width: 100%;
  bottom: 0;
  display: inline-block; }
  @media all and (min-width: 520px) {
    span.footer-text {
      font-size: 14px; } }

/*css specific to the fadein transition*/
@keyframes slidedown {
  from {
    margin-top: -50px; }
  to {
    margin-top: 0; } }

@-moz-keyframes slidedown {
  /* Firefox */
  from {
    margin-top: -50px; }
  to {
    margin-top: 0; } }

@-webkit-keyframes slidedown {
  /* Safari and Chrome */
  from {
    margin-top: -50px; }
  to {
    margin-top: 0; } }

@-o-keyframes slidedown {
  /* Opera */
  from {
    margin-top: -50px; }
  to {
    margin-top: 0; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*css specific to Firefox*/
@-moz-document url-prefix() {
  .offset-image-container {
    display: block; }
    .offset-image-container::after {
      display: none; } }

/*css specific to IE 10*/
html[data-useragent*='MSIE 10.0'] body,
html[data-useragent*='MSIE 10.0'] .page-wrapper,
html[data-useragent*='rv:11.0'] body,
html[data-useragent*='rv:11.0'] .page-wrapper {
  margin: 0; }

html[data-useragent*='MSIE 10.0'] .col-40-60 .full-width-image img,
html[data-useragent*='rv:11.0'] .col-40-60 .full-width-image img {
  max-width: 65vw; }
  @media all and (min-width: 768px) {
    html[data-useragent*='MSIE 10.0'] .col-40-60 .full-width-image img,
    html[data-useragent*='rv:11.0'] .col-40-60 .full-width-image img {
      max-width: 25vw; } }

html[data-useragent*='MSIE 10.0'] .col-50-50 .full-width-image img,
html[data-useragent*='rv:11.0'] .col-50-50 .full-width-image img {
  max-width: 65vw; }
  @media all and (min-width: 768px) {
    html[data-useragent*='MSIE 10.0'] .col-50-50 .full-width-image img,
    html[data-useragent*='rv:11.0'] .col-50-50 .full-width-image img {
      max-width: 35vw; } }

html[data-useragent*='MSIE 10.0'] .col-60-40 .full-width-image img,
html[data-useragent*='rv:11.0'] .col-60-40 .full-width-image img {
  max-width: 65vw; }
  @media all and (min-width: 768px) {
    html[data-useragent*='MSIE 10.0'] .col-60-40 .full-width-image img,
    html[data-useragent*='rv:11.0'] .col-60-40 .full-width-image img {
      max-width: 45vw; } }

html[data-useragent*='MSIE 10.0'] .title-block,
html[data-useragent*='rv:11.0'] .title-block {
  margin: 60px 0; }
  @media all and (min-width: 520px) {
    html[data-useragent*='MSIE 10.0'] .title-block,
    html[data-useragent*='rv:11.0'] .title-block {
      margin: 46px 0; } }
  html[data-useragent*='MSIE 10.0'] .title-block h2,
  html[data-useragent*='rv:11.0'] .title-block h2 {
    animation: fadein 5s; }

/*css specific to browsers that don't support grid css*/
.page-wrapper.noGrid .image-paragraph-wrap-around,
.page-wrapper.noGrid .inner-page-container,
.page-wrapper.noGrid .split-content-block p,
.page-wrapper.noGrid .split-content-block .offset-image-container,
.page-wrapper.noGrid .whole-content-block,
.page-wrapper.noGrid .content-section {
  float: left; }

.page-wrapper.noGrid .content-block {
  margin-right: 0; }

.page-wrapper.noGrid .form-section,
.page-wrapper.noGrid .content-section {
  width: 100%; }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .content-section {
    padding-right: 5%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-40-60 .content-section {
    width: 40%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-40-60 .form-section {
    width: 55%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-50-50 .content-section {
    width: 50%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-50-50 .form-section {
    width: 45%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-60-40 .content-section {
    width: 60%; } }

@media all and (min-width: 768px) {
  .page-wrapper.noGrid .col-60-40 .form-section {
    width: 35%; } }
